* {
	margin: 0;
	padding: 0;
}

header {
	margin-bottom: 60px;
	background: #000;
	font-size: 16px;
	position: absolute;
	width: 2560px;
	height: 72px;
	left: 0px;
	top: 0px;
}

.nav {
	position: absolute;
	width: 158.55px;
	height: 20px;
	left: 794.73px;
	top: 22.15px;
}

#menu {
	list-style: none;
}

.main-page {
	background: #000 url(/img/bg_index.jpg) no-repeat center top;
	color: #fff;
	position: relative;
	width: 2560px;
	height: 1756px;
}

body {
	min-width: 960px;
	font-family: "PT Sans Narrow", "Arial" sans-serif;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.logo {
	position: absolute;
	width: 369.44px;
	height: 153px;
	left: 1095px;
	top: 133px;
}

.advantages {
	position: absolute;
	width: 924px;
	height: 192.55px;
	left: 819px;
	top: 345.45px;
}

.quickly-block {}

.cool-block {}



.news-photogallery {}